.container {
  height: 100vh;

  display: flex;
  flex-direction: column;

  main {
    display: flex;
    width: 100%;
    max-width: 1480px;
    
    margin: 7rem auto 0;
    padding: 0 12px;
  }
}

.content {
  margin-left: 18rem;
  display: grid;
  flex: 1;
  background-color: red;

  border-radius: 16px;

  gap: 12px;
}
